name: circuit profiling

on: [push]

jobs:
  test:
    name: nargo info
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nargo
        uses: noir-lang/noirup@v0.1.3
        with:
          toolchain: nightly-2024-05-22

      - name: Run nargo info
        run: nargo info --workspace --silence-warnings | tee profiling_info.txt

      - name: Archive profiling artifacts
        uses: actions/upload-artifact@v4
        with:
          name: profiling_info
          path: |
            profiling_info.txt
